@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


:root {
    --warna-utama: #CBD2A4;
    --warna-dominan: #AB886D;
    --warna-font: #ffffff;
}

.header {
    position: relative;
    width: 100%;
    height: 430px;
    background: var(--warna-utama);
    overflow: hidden var(--warna-utama);
}

.header .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../image/wave.png);
    background-size: 1000px 100px;
}

.header .wave1 {
    -webkit-animation: animate 30s linear infinite;
    animation: animate 30s linear infinite;
    z-index: 999;
    opacity: 1;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    bottom: 0;
}

.header .wave2 {
    -webkit-animation: animate2 15s linear infinite;
    animation: animate2 30s linear infinite;
    z-index: 998;
    opacity: 0.5;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    bottom: 10px;
}

.header .wave3 {
    -webkit-animation: animate2 30s linear infinite;
    animation: animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.2;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    bottom: -15px;
}

.header .wave4 {
    -webkit-animation: animate2 15s linear infinite;
    animation: animate2 15s linear infinite;
    z-index: 996;
    opacity: 0.7;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    bottom: 15px;
}

@-webkit-keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@-webkit-keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

body {
    font-family: 'Inconsolata', 'Bungee Shade', 'Rubik Wet Paint', ;
}

.italic {
    font-weight: 300;
    font-size: 14px;
}

.medium {
    font-weight: 500;
    font-size: 18px;
}

.semi-bold {
    font-weight: 600;
    font-size: 26px;
}

/* tambahan */
.navbar .container-fluid #navbarNav .navbar-nav .nav-item .text-white:hover {
    color: var(--warna-dominan);
    border: 1px solid var(--warna-utama);
    width: 100%;
}
/* end tambahan */

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .btn-purple {
    border: 1px solid #fff;
    background: #fff;
    color: var(--warna-utama) !important;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .btn-outline-purple {
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .navbar-item .btn-outline-purple:hover {
    color: var(--warna-utama);
    border: 1px solid #fff;
    background: #fff;
}

.text-center h2 {
    font-size: 26px;
}

.text-center p {
    font-size: 16px;
}

.row .col {
    z-index: 1001;
}

/* responsive ukuran hp or tablet */
@media screen and (max-width: 576px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: var(--warna-utama);
    }
}

@media screen and (max-width: 768px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: var(--warna-utama);
    }
}

@media screen and (max-width: 992px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: var(--warna-utama);
    }
}

@media screen and (max-width: 576px) {
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

@media screen and (max-width: 992px) {
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

.row .col .content {
    padding: 32px 20px 32px 20px;
    background: #fff;
    border-color: var(--warna-utama);
}

@media screen and (min-width: 992px) {
    .row .col .content {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: var(--warna-utama);
    }
}
/* Styling Card */
.row .col .content .card {
    background: var(--warna-utama);
    padding: 16px;
    color: var(--warna-font);
}

.row .col .content .btn-custom {
    background: var(--warna-utama);
    width: 100%;
    color: var(--warna-font);
}

.pengaduan .bg-purple{
    padding: 26px;
    width: 100%;
    background-color: var(--warna-utama);
    color: var(--warna-font);
}

.modal .modal-dialog .modal-content .modal-body h3 {
    font-weight: 500;
    font-size: 22px;
}

.modal .modal-dialog .modal-content .modal-body p {
    font-weight: 300;
    font-size: 16px;
    color: var(--warna-dominan);
}

.modal .modal-dialog .modal-content .modal-body .btn-purple {
    border: 1px solid var(--warna-dominan);
    background: var(--warna-utama);
    color: #fff;
    width: 100%;
}